.root {
  position: absolute;
  left: -183.3333%;
  right: 216.6667%;
  top: 0;
  bottom: 33.3333%;
  width: 16px;
  height: 16px;
  align-items: flex-start;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 0;
  top: 0;
  width: 16.002px;
  height: 16px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
